body{
  width:80%;
  margin:auto;
  bgcolor:#85C1E9;
  text-align: center;
}

#terms{
  text-align:right;
}

#logo{
  border:ridge black;
  width:100%;
}

h1,h2,h3,h4,h5,h6{
  height:10px;
  color:Blue;
}

